/*hearder*/
body
{
    display: flex;
    flex-flow: column wrap;
    background: gray;
    margin: 0;
    font-family: roboto, comic sans-serif;
    font-size :14px;
}

body >* {
    width: 80vw;
    margin:0 auto;
}


header{

    margin: 0 auto;
    height: 260px;
    background-color:#2c3164;
    background-image: url("assets/hexagon.svg");/*avec svg on peut zoomer sans probléme maintient la qualité*/
    background-repeat: no-repeat;
    background-position: right;
    background-size: auto 100%; /* anticiper responsive*/
}

.icone .fa-user{
    color: white;
    margin-top: 1.5em;
    position: absolute;
    right: 0;
    margin-right: 17.81em;
    font-size: 1.5em;
}

header a.logo{
    position: relative; /* les pos abs  à l'intérieur sont relatives au bloc qui le contient*/ 
    display: block;
    width: 453px;
    height: 210px;
}


header a.logo img{
    position: absolute;
    width: 341px;    
    height: 143px;
    top:24px;
    left:68px;     
    
}

nav{
    display: block;
    height: 50px;

}

nav ul, nav li{
    list-style: none;
    padding: 0;
    margin: 0;
}

nav ul.menu{
    display: flex;
    justify-content: space-around;
    
}

nav ul.menu li{
    display: inline block;
    width: 364px;
    height:50px ;
    background-color: #4731f4;
    z-index: 1000;/*POUR ETRE AU DESSUS VIDEO*/
}

nav ul.menu li a{
    display: block;
    width: 364px;
    height: 50px;
    line-height: 50px;
    font-family: "Roboto", sans-serif;
    font-weight: 300;
    font-size: 18pt;
    color : white;
    text-align: center;
    text-decoration: none;  
      
}

nav ul.menu li > a{
    text-transform: uppercase; /*mettre en majuscule*/
    font-weight: bold;
}


nav ul.menu ul li{
    border-top: 1px solid(rgbba 0,0,0.4);
}

nav ul.menu ul{
    visibility: hidden;
}

nav ul.menu li:hover ul{
    visibility: visible;
}

nav ul.menu ul li a{
    font-weight: 300;
}

nav ul.menu ul li a:hover {
  font-style: italic;
  font-weight: 600;
  background-color: rgba(255,255,255,0.1);
}


nav ul.menu > li:nth-child(2), nav ul.menu > li:nth-child(2) li{
    background-color:#555C8F;
}

/*main*/

main{
  
  background-color: #2C3164;
}
article{
  width: 10px;
}

h1{
  background-color: white;
  font-family: roboto;
  font-size: 3em;
  font-style: normal;
  font-weight: 300;
  letter-spacing: 0.5em;
  color:#1e72b9;
  z-index: 1000;
  justify-content: center;
  text-align: center;
  width: 100%;
  margin: 0;
    
}

.scroll{
  width: 85%;
  margin-right: auto;
  margin-left: auto;
  padding-top: 7.25em;
  line-height: 12.5em;
  display: flex;
  position: static;
  justify-content: center;
  flex-direction: row;
  overflow-x: auto;
  align-items: center;
  background-color: #2C3164;
}
table img{
  width: 20.125em;
  height: 14.375em;
  margin-left: 2.5em;
  position: relative;
  border-radius: 3%;
  box-shadow: 20px 20px rgba(0,0,0,.15);
  transition: all .4s ease;
}
table img:hover {
  opacity: 50%;
  border-radius: 0% 0% 50% 50% / 0% 0% 5% 5% ;
  box-shadow: 10px 10px rgba(0,0,0,.25);
}


/*footer*/

footer{
  background-color: #2C3164;
  height: 24em;
}
.picture{ 
  position: absolute;
  left: 15em;
  bottom: -20em;
  height: 13.3em;
}
 #logo{
  height:13.14em;
  width: 26.94em;
}
.nosact{
  height: auto;
}
#act{
  font-family: Roboto;
font-style: normal;
font-weight: 300;
font-size: 2.7em;
line-height: 120.19%;
  letter-spacing: 0.5em;
  text-align: center;
  color: #2273B8;
}
footer .categories{
  display: block;
}
.cat{
  padding-top: 2em;
  padding-left: 50em;

}
.categories > li {
  text-decoration: none;
  list-style: none;
  font-style: normal;
  font-size: 1.4em;
  color: white;
  left: 40em;
  margin-top: 0.42em;
}
.categories > li > a{
  text-decoration: none;
  list-style: none;
  font-style: normal;
  font-size: 1.5em;
  color: white;
  left: 40em;
  margin-top: 0.42em;
}
.logos{
  position: absolute;
  display: flex;
  right: 18em;
  bottom: -12em;
}
.logo{
  font-size: 3em;
  color: white;
  padding-right: 0.5em;
}
#newsletter{
  position: absolute;
  width: 22.8em;
  height: 2.1em;
  left: 65em;
  background: #FFFFFF;
  border-radius: 0.6em;
}
#bouton{
  position: absolute;
  background-color: #1E72B9;
  right: 43em;
  color: white;
  margin-top: 0.6em;
}
.pol{
  position: absolute;
  height: 0.78em;
  right: 78.5em;
  bottom: -34em;
  font-family: Roboto;
  font-style: normal;
  font-weight: 300;
  font-size: 0.72em;
  line-height: 0.84em;
  color: white;
}
.copyright{
  height: auto;
  font-size: 1.5em;
  text-align: center;
}

