body{
  margin: 0;
  padding: 0;
}
header{
    background-color: #2C3164;
}
nav{
  z-index: 10;
  position: relative;
}
#nid{
 position: absolute; 
  right: 0;
  top: 0;
  height: 250px;
}
#nid img{
  max-height: 100%;
}
.icone .fa-user{
    color: white;
    margin-top: 20px;
    position: absolute;
    right: 0;
    margin-right: 30px;
}
#video{
  margin-top: 20px;
  height: 670px;
  width: 100%;
}
  
.menu{
    display: flex;
    justify-content: space-around;
    padding: 0;
    margin: 0;
}
.menu li{
    list-style: none;
    text-decoration: none;
    font-family:sans-serifcomic;
    font-size: 24px;
    font-weight: bold;
    color: white;   
    width: 355px;
    height: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
}
.sousmenu{
  display: none;
  background-color: #0E1779;
    padding: 0;
    margin: 0;

}
.sousmenu li {
  height: 70px;
  width: auto;
  text-align: center;
  font-family:sans-serifcomic;
    font-size: 20px;
    font-weight: normal;
  
}
ul li:hover .sousmenu{
  display: block;
  
}
.sousmenu a{
  padding: 0;
  margin: 0;
}

.sousmenu a:hover{
  /*border-bottom: none;*/
  color: #FFFFFF;
  font-family:sans-serifcomic;
    font-size: 20px;
    font-weight: bold;
}


.violet
{
    background: #47316F;
}
.bleu{
   background: #555C8F;
}
.blue
{
    background: #1E72B9;
}
li a{
    color: white;
    text-decoration: none;

    
}