body{
  margin: 0;
  padding: 0;
}
header{
    background-color: #2C3164;
}
nav{
  z-index: 10;
  position: relative;
}
#nid{
 position: absolute; 
  right: 0;
  top: 0;
  height: 250px;
}
#nid img{
  max-height: 100%;
}
.icone .fa-user{
    color: white;
    margin-top: 20px;
    position: absolute;
    right: 0;
    margin-right: 30px;
}
#video{
  margin-top: 20px;
  height: 670px;
  width: 100%;
}
  
ul{
    display: flex;
    justify-content: space-around;
    padding: 0;
    margin: 0;
}
li{
    list-style: none;
    text-decoration: none;
    font-family:sans-serifcomic;
    font-size: 24px;
    color: white;   
    width: 355px;
    height: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
}
.violet
{
    background: #47316F;
}
.bleu{
   background: #555C8F;
}
.blue
{
    background: #1E72B9;
}
li a{
    color: white;
    text-decoration: none;

    
}