body {
    padding: 0;
    margin: 0;
    display: flex;
    flex-flow: column wrap;
    }
    
    body>* {
    width: 90vw;
    margin: 0 auto;
    }
    
    body>header{
    height: 12em;
    background-color:#2c3164;
    display: flex;
    background-image: url(../asssets/hexagon.svg);
    background-repeat: no-repeat;
    background-position: right top;

    }
    
    .icone .fa-user-circle{
      color: white;
      margin-top: 0.5em;
      position: absolute;
      right: 0;
      margin-right: 6.7em;
      font-size: 2.5em;
    }
    
     body>header>.logo{
    margin-left: 2em;
    margin-top: 1em;
    }
    body>header>nav{
      height: 5em;
    
    } 
    nav ul, nav li{
      background-color: #2c3164;
      list-style: none;
      padding-left:0;
      margin: auto;
    }
    
    nav ul.menu{
      display: flex;
      justify-content: space-around;
      text-align: center;
      
    }
    
    nav ul.menu li{
      width: 21em;
      height:3em ;
      background-color: #4731f4;
      z-index: 1000;/*POUR ETRE AU DESSUS VIDEO*/
    }
    
    nav ul.menu li a{
      width: 21em;
      height: 3em;
      font-family: "Roboto", sans-serif;
      font-weight: 300;
      font-size: 18pt;
      color : white;
      text-align: center;
      text-decoration: none;  
        
    }
    
    nav ul.menu li > a{
      text-transform: uppercase; /*mettre en majuscule*/
      font-weight: bold;
    }
    
    
    nav ul.menu ul li{
      border-top: 1px solid(rgbba 0,0,0.4)
    }
    
    nav ul.menu ul{
      visibility: hidden;
    }
    
    nav ul.menu li:hover ul{
      visibility: visible;
    }
    
    nav ul.menu ul li a{
      font-weight: 300;
    }
    
    nav ul.menu ul li a:hover {
      font-style: italic;
      font-weight: 600;
      background-color: rgba(255,255,255,0.1);
    }
    
    
    nav ul.menu > li:nth-child(2), nav ul.menu > li:nth-child(2) li{
      background-color:#555C8F;
    }
    
    nav ul.menu > li:nth-child(3), nav ul.menu > li:nth-child(3) li{
      background-color: #1e72b9;
    }
    
    
    body main{
      height: auto;
    }
    /*body>main {
    min-height: 120vh;
    }*/
    h1{
    left: 3em;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-style: normal;
    font-weight: 300;
    font-size: 3em;
    line-height: 3.5em;
    text-align: center;
    letter-spacing: 0.765em;
    color: #1E72B9;
}
h2{
  left: 3em;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-style: normal;
    font-weight: bold;
    font-size: 2em;
    line-height: 3.5em;
    text-align: center;
    color: #4731f4;
}
.bloc1{
  padding: 10em;
    background-color: #2c3164;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-auto-rows: auto;
    column-gap: 0.1em;
    row-gap: 0.1em;
    grid-template-areas: 
    "pic1 pic1 pic2 "
    "pic1 pic1 pic3"
    "pic4 pic5 pic5"
    "pic6 pic5 pic5"
    "pic7 pic7  pic8"
    "pic7 pic7 pic9";
}  

.bloc1 img{
    width: 100%;
    height: 100%;
}

.pic1{
    grid-area: pic1;
    
  }

 .pic2{
      grid-area: pic2;
    
  }
  .pic3{
    grid-area: pic3;
    
  }
 .pic4{
  grid-area: pic4;
   
  }
  .pic5{
    grid-area: pic5;
    
  }
  .pic6{
    grid-area: pic6;
   
  }
  .pic7{
    grid-area: pic7;
    
  }
 .pic8{
  grid-area: pic8;

  }
  .pic9{
    grid-area: pic9;
  }

  .taille1{
    width: 258px;
    height: 812px;
    background-image: url(../asssets/nid1.png);
    background-repeat: no-repeat;
    z-index: 1000;

 }

 /*.nid1 {

    height: 100%;
    right: 0;
    object-fit: cover;
    top: -160px;


  }*/

  .taille2{
    width: 12%;
    height: 812px;
    background-image: url(../asssets/nid2.png);
    background-position: right top;
    background-repeat: no-repeat;
    right: 0;
 }
  /*.nid2 {
    width:109%;
    height: 812px;
    margin-right: 0px;
    object-fit: cover;
    z-index: 10;
  }*/
    .leshexagones {

      width: 92%;
      height: 23em;
      display: flex;
      justify-content: space-around;
      padding-top: 9em;
      position: relative;
      padding-left: 3.5em;


    }

    .hexagon {
      display: flex;
      flex-direction: column;
      align-items: center;
      width: 33%;
      font-family: Roboto;
      font-style: normal;
      font-weight: 500;
      font-size: 2.5em;
      line-height: 2.5em;
      text-align: justify;
      color: white;
      left: -3em;
      z-index: 1000;
    }

    .hexagon1 {
      display: flex;
      flex-direction: column;
      align-items: center;
      width: 33%;
      font-family: Roboto;
      font-style: normal;
      font-weight: 500;
      font-size: 2.5em;
      line-height: 2.5em;
      text-align: justify;
      color: white;
      z-index: 1000;
    }

    .hexagon2 {
      display: flex;
      flex-direction: column;
      align-items: center;
      width: 33%;
      font-family: Roboto;
      font-style: normal;
      font-weight: 500;
      font-size: 2.5em;
      line-height: 2.5em;
      text-align: justify;
      color:white;
      z-index: 1000;
    }
    body>footer{
      height: 24em;
      background-color:#2c3164;
      display: flex;
    }
    body>footer>section {
    display: flex;
    justify-content: space-around;
    flex-flow: row nowrap;
    width: 100%;
    }
    
    body>footer>section>article {
    width: 50%;
    min-height: 80%;
    display: flex;
    }
    
    body>footer>section>article * {
    margin: auto;
    }
    
    body>footer>section>article:nth-child(1) {
    background-color: transparent;
    }
    
    body>footer>section>article:nth-child(12) {
    background-color: transparent;
    }
    
    .img {
    max-width: 70%;
    }
    .cat{
      display: flex;
      flex-direction: column;
      padding-top: 2em;
    }
    .categories > li {
      text-decoration: none;
      list-style: none;
      font-style: normal;
      font-size: 1.4em;
      color: white;
      margin-top: 1em;
    }
    .categories > li > a{
      text-decoration: none;
      list-style: none;
      font-style: normal;
      font-size: 1.2em;
      color: white;
    }
    .reseaux{
      display: flex;
      justify-content:center;
      align-items: center;  
    
    }
    .logo a{
      font-size: 3em;
      color: white;
      padding: 0.7em;
    }
    #newsletter{
      width: auto;
      height: auto;
      background: #FFFFFF;
      border-radius: 0.6em;
    }
    #bouton{
    background-color: #1E72B9;
    right: auto;
    color: white;
    }
    .pol{
    height: auto;
    font-family: Roboto;
    font-style: normal;
    font-weight: 300;
    font-size: 0.72em;
    line-height: 0.3em;
    color: white;
    }
    .copyright{
      height: auto;
      font-size: 1.5em;
      text-align: center;
    }